@if $flavor == 'GitHub' {
  :root {
    --border-default: #d0d7de;
    --border-muted: #d8dee4;
    --canvas-default: #fff;
    --canvas-subtle: #f6f8fa;
    --neutral-muted: #afb8c133;
    --chcklst-color: #d1d1d1;
  }

  @if $auto_dark_theme == 'true' {
    @media (prefers-color-scheme: dark) {
      :root {
        --border-default: #30363d;
        --border-muted: #21262d;
        --canvas-default: #0d1117;
        --canvas-subtle: #161b22;
        --neutral-muted: #6e768166;
        --chcklst-color: #757575;
      }
    }
  }
}

@if $flavor == 'GitLab' {
  :root {
    --border-default: #dbdbdb;
    --border-strong: #bfbfbf;
    --border-muted: #e1e1e1;
    --canvas-default: #f0f0f0;
    --canvas-subtle: #f6f8fa;
    --neutral-muted: #afb8c133;
    --chcklst-color: #dfdfdf;
  }

  @if $auto_dark_theme == 'true' {
    @media (prefers-color-scheme: dark) {
      :root {
        --border-default: #30363d;
        --border-muted: #21262d;
        --border-strong: hsl(0, 0%, 30%);
        --canvas-default: #0d1117;
        --canvas-subtle: #161b22;
        --neutral-muted: #6e768166;
        --chcklst-color: #757575;
      }
    }
  }
}

@if $flavor == 'BitBucket' {
  :root {
    --border-default: #dfe1e6;
    --border-muted: #d8dee4;
    --canvas-default: #fff;
    --canvas-subtle: #f6f8fa;
    --neutral-muted: #f4f5f7;
    --chcklst-color: #d1d1d1;
    --heading-color: #172b4d;
    --blockquote-color: hsl(218, 14%, 54%);
  }

  @if $auto_dark_theme == 'true' {
    @media (prefers-color-scheme: dark) {
      :root {
        --heading-color: hsl(218, 54%, 85%);
        --border-default: hsl(223, 12%, 50%);
        --blockquote-color: hsl(218, 14%, 70%);
        --border-muted: #21262d;
        --canvas-default: #0d1117;
        --canvas-subtle: #161b22;
        --neutral-muted: #6e768166;
        --chcklst-color: #757575;
      }
    }
  }
}
