@if $flavor == 'GitLab' {
  span.chcklst-box:not(.checked).fa-square-o:before {
    background: var(--chcklst-color);
  }
  span.chcklst-box.checked:before {
    background: var(--chcklst-color);
  }
  span.chcklst-box.checked.fa-check-square-o:before {
    background: var(--chcklst-color);
  }
}
