@if $flavor == 'GitLab' {
  p > code,
  li > code {
    background: var(--canvas-default);
    padding: 2px 3px;
    border-radius: 4px;
  }

  pre code {
    padding: 8px 12px;
    background: var(--header_background);
    border: 1px solid var(--border-default);
    margin: 0 0 8px;
    margin-bottom: 16px;
    font-size: var(--font-down-1);
    line-height: 1.6em;
    overflow-x: auto;
    border-radius: 2px;
  }
}
